div.membershipReport {
    overflow: auto;
}
div.membershipReport table {
    border: 2px solid #2C681B;
    width: max-content;
    text-align: center;
    border-collapse: collapse;
}
div.membershipReport table td, div.membershipReport table th {
    border: 1px solid #2C681B;
    padding: 3px 2px;
}
div.membershipReport table tbody td {
    font-size: 13px;
    color: #000000;
}
div.membershipReport table tr:nth-child(even) td {
    background: #F8920A;
}
div.membershipReport table thead {
    background: #80B522;
    border-bottom: 2px solid #2C681B;
}
div.membershipReport table thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #2C681B;
}
div.membershipReport table thead th:first-child {
    border-left: none;
}

div.membershipReport table tfoot td {
    font-size: 13px;
}
div.membershipReport table tfoot .links {
    text-align: right;
}
div.membershipReport table tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
}
